body { 
	background-image: radial-gradient(circle, #c2d6d6, #94b8b8, #669999, #476b6b, #293d3d);
}

ul {
	list-style-type: none;
	text-align: center;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

li {
	margin-left: 2%;
	display: inline;
	float: left;
}

li a {
	display: block;
	color: #3d5c5c;
	width: 120px;
	height: 60px;
	margin: auto;
	margin-top: 18%;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	background-color: #f0f5f5;
	font-size: 17px;
}

li a:hover {
	background-color: #293d3d;
}

h1 {
	margin-top: 10%;
	text-align: center;
	font-size: 130px;
}

.klasa {
	display: block;
	color: #FFFFFF;
	width: 120px;
	height: 60px;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	font-weight: 300;
	background-color: #293d3d;
	margin-left: 30%;
	margin-top: 21.5px;
}